*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 16px;
    background-color: rgb(211,210,213);
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    position: relative;
    max-width: 760px;
    margin: 50px auto;
    height: auto;
    padding: 30px;
    background-color: rgb(241,241,241);
    overflow: hidden;
    box-shadow: -60px 40px 100px rgb(133,133,133), 60px -40px 100px rgb(235, 234, 240);
    z-index: 1;
}
code{
    display: block;
    background-color: rgb(200,200,200);
    padding: 15px;
}

.header-name {
    font-size: 28px;
    letter-spacing: 14px;
    font-weight: 400;
}
.header-title {
    font-weight: 500;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(211,211,211);
    border-bottom: 1px solid rgb(211,211,211);
    padding: 10px 0px;
}
.header-subtitle {
    font-size: 16px;
    font-weight: 400;
}
.header-link {
    font-weight: 700;
    text-decoration: underline;
}

