*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 16px;
    background-color: rgb(211,210,213);
    padding: 20px 30px;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    position: relative;
    max-width: 760px;
    margin: 50px auto;
    height: auto;
    padding: 30px;
    background-color: rgb(241,241,241);
    overflow: hidden;
    box-shadow: -60px 40px 100px rgb(133,133,133), 60px -40px 100px rgb(235, 234, 240);
    z-index: 1;
}
code{
    display: block;
    background-color: rgb(200,200,200);
    padding: 15px;
}
.__img{
    width: 100%;
    height: auto;
}
.__img-wrapper{
    overflow: hidden;
    max-width: 300px;
    border-radius: 30px;
    margin: 0 auto;
}
.__title{
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    font-weight: 600;
}
.header-name {
    font-size: 28px;
    letter-spacing: 14px;
    font-weight: 400;
}
.header-title {
    font-weight: 500;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(211,211,211);
    border-bottom: 1px solid rgb(211,211,211);
    padding: 10px 0px;
}
.header-subtitle {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4px;
}
.header-link {
    font-weight: 700;
    text-decoration: underline;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.main-block {
    flex: 1 1 auto;
}
.main-block-small {
    max-width: 320px;
}
.block__about {
}
.about-title {
}
.about-content {
}
.__img-wrapper {
}
.__img {
}
.block__contact {
}
.contact-title {
}
.contact-items {
}
.contact-item {
}
.contact-item__name {
}
.contact-item__value {
}
.contact-link {
}
.block__skills {
}
.skills-title {
}
.title-nav {
}
.title-nav__list {
}
.list-item {
}
.list-item__name {
}
.list-item__block {
}
.list-item__point {
}
.point-check {
}
.main-block-big {
    max-width: 400px;
}
.block__experience {
}
.experince-title {
}
.experience-content {
}
.block__projects {
}
.projects-title {
}
.projects-item {
}
.projects-link {
}
.block__language {
}
.language-title {
}
.language-content {
}
@media (max-width: 820px){
    .main {
        display: flex;
        align-items: center;

        flex-direction: column;
    }
    .main-block {
        margin: 0 auto;
    }
}
@media (max-width: 460px){
    .header-name {
        font-size: 16px;
        font-weight: 400;
    }
    .header-subtitle {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 2px;
    }
}